* {
    margin: 0px;
   padding: 0;
    box-sizing: border-box;
}
section > .container{
    width: 1170px;
    margin: auto;
    display: block;
}
#nav-bar {
    text-align: center;
}
body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #495057;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1170px;
   margin:10px auto;
  }
/* phần banner*/
header{
    width: 1170px;
   position: relative;
   /* làm tối màu nền*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.215), rgba(0, 0, 0, 0.358)), url(../images/banner.jpg);
    height: 60vh;
    background-size: cover;
}
.banner-img{
    width: 1170px;
    height: 60vh;
    text-align: center;
}
.banner{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translatex(-50%);
    color: #f7f7f7;
    text-align: center;
    font-size: 16px;
  
}
/* phần nav*/
#nav-bar .container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.nav {
    flex-basis: 120px;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 10px;
}
.nav3 {
    flex-basis: 320px;
    ;
}
i{
    color: #228be6;
}
.name{
    font-size: 26px;
    font-weight: bold;
}
/*Thông tin cá nhân*/
#about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(100, 100, 100);
  }
  #target {
    background-color: #f7f7f7;
    padding: 48px 32px 64px 48px;
  }
  #personal-info {
    background-color: #f1f1f1;
  
    padding: 48px 32px 32px 48px;
    line-height: 2;
  }
  #personal-info span {
    font-weight: 600;
  }
  ul {
    list-style: none;
  }
  h2 {
    font-size: 24px;
  }
  /* style cho 6 khối*/
/* Thoong tin nghe nghiep */
#job-info .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    padding: 32px 80px;
}
.job-info{
    border: 1px solid #ced4da;
    display: flex;
    flex-direction: column;
    position: relative;
    padding:48px 32px 12px 32px;
}
.job-info-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .job-info-list:last-child {
    padding-bottom: 0;
  }
  .info-list {
    padding: 32px 0 0 24px;
  }
  /* icon job-if size*/
  .job-info-icon {
    font-size: 36px;
    color: #ced4da;
  }
  /* dau cham xanh */
  .dots {
    width: 10px;
    height: 10px;
    background-color: #228be6;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
  }
  /* can chinh dots */
  .dots-a {
    left: 30px;
    top: 120px;
  }
  .dots-d {
    left: 30px;
    bottom: 140px;
  }
  /* tao nen xanh / chu nghieng */
  .if-date {
    font-style: italic;
    padding: 8px 0;
  }
  .if-box {
    display: inline-block;
    background-color: #228be6;
    padding: 0 12px;
    border-radius: 5px;
    color: #fff;
  }
  /* buttom hoc van */
  .dots-a-hv,
  .dots-a-hd {
    top: 120px;
    left: 30px;
  }
  /* dots hoc van */
  .dots-d-hv {
    left: 30px;
    bottom: 180px;
  }
  /* dots hoat dong */
  .dots-d-hd {
    left: 30px;
    bottom: 265px;
  }
  /*  Sở thích */
  
  .sothich-noidung {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding-top: 32px;
  }
  .st-icon {
    width: 36px;
    height: 36px;
    border: 1px solid #228be6;
    color: #228be6;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    padding: 8px 0;
  }
  .ngongu-skillbar,
  .skill-skillbar {
    display: flex;
    justify-content: flex-start;
    padding-top: 8px;
  }
  .skillbar-level {
    width: 45px;
    height: 2px;
    border-radius: 5px;
    background-color: #228be6;
    margin-right: 12px;
  }
  /* bgr grey */
  .skbar-lv-grey {
    background-color: #ced4da;
  }
  .nn-name {
    padding-top: 32px;
    padding-left: 12px;
  }
/* Chứng chỉ- giải thưởng*/
.certificate--1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.certificate--2{
    display: flex;
    margin-bottom: 32px;
}
.cc-img{
    padding-right:16px;
}
.certificate--2:nth-child(2){
    border-left: 1px solid #ffc078;
    padding: 0 16px;
}
.certificate--2:last-child{
    border-top: 1px solid #ffc078;
   margin-bottom: 0;
   padding-bottom: 0;
}
.certificate--2:nth-child(3){
    padding-top: 32px;
    grid-column: 1/-1;
}
.certificate-1{
    margin-bottom: 20px;}
.certificate--2 h4{
  text-transform: uppercase;
  margin-bottom: 16px;
}

/*Dự án*/
/* tao grid cho phan du an*/
.project-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
/* cai dat border phan noi dung text */
.project-content-text {
  border: 1px solid #ced4da;
  min-height: 270px;
}
.project-name {
  border-bottom: 1px solid #ced4da;
}
.project-name p {
  display: block;
  padding: 16px;
}
.project-year {
  border-bottom: 1px solid #ced4da;
}
/* can chinh phan thong tin nam, truong , vi tri */
.project-year span {
  display: inline-block;
  margin: 16px 12px;
}
/* tao nen xanh cho 2021 */
.prj-blue {
  color: #fff;
  background-color: #1c7ed6;
  padding: 4px 12px;
  border-radius: 18px;
}
/* tao border table  phia trong*/
.project-table {
  border-bottom: 1px solid #ced4da;
  display: flex;
}
.table-left {
  min-width: 96px;
}
.project-table:last-child {
  border: none;
}
.project-content1{
  margin-bottom: 30px;
  position: relative;
}
.footer-img{
  width: 100%;
}

/* footer */
#footer ul {
  display: flex;
  justify-content: center;
  font-size: 12px;
}
#footer li {
  padding: 16px 32px;
}
#footer a {
  text-decoration: none;
  color: #868e96;
}
/* icon */
.footer-icon {
  padding: 10px;
  background-color: #1c7ed6;
  stroke: #fff;
  border-radius: 50%;
  color: #fff;}
  #footer{
    background-color: #f1f1f1;
    padding:25px;
  }
 .project--1{
  margin-bottom: 20px;
 }
